<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <title>Vote4Change</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <img src="assets/img/logo-2.png" alt="" srcset="" />
      </nav>
    </header>
    <!-- Presidential -->
    <section class="main__container">
      <form action="/vote" method="post">
  

   
       <div class="voting__label">Choose your President</div>
        <% cand.map((item, i)=>{%> 
        <div class="vote__container candidate__list">
          <input
            type="radio"
            id="cand__id"
            name="President"
            value="<%=item.name%>"
            checked
          />
          <img src="/assets/uploads/parties/<%=item.photo%>" alt="" srcset="" />
          <div class="candidate__label--box">
            <label for="name" class="candidate__name"
              ><%= item.name%></label
            >
            <p class="candidate__position"><%=item.position%></p>
          </div>
        </div>

          <%})%>
    </section>

   
   <button type="submit" class="btn__style" id="votes">Vote Now</button>

      </form>
    <div class="empty__space_10"></div>

   <!-- this display the footer -->
    <section><%- include('footer'); %></section>

    <!-- <script src="app.js"></script> 
  </body>
</html>
